In [1]:
# Dependencies and Setup
import pandas as pd
import os

# File to Load (Remember to Change These)
school_path = os.path.join("Resources","schools_complete.csv")
student_path = os.path.join("Resources", "students_complete.csv")

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_path)
student_data = pd.read_csv(student_path)

# Combine the data into a single dataset
df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [2]:
df.head(10)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
7,7,Nicole Baker,F,12th,Huang High School,96,69,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635

## District Summary

In [3]:
schools_unique = df["school_name"].unique()
total_schools= len(schools_unique)
total_students = df["student_name"].count()
total_budget = "$" + str(school_data["budget"].sum())
average_math = round(df["math_score"].mean(), 2)
average_reading = round(df["reading_score"].mean(), 2)
overall_passing = round(((average_reading + average_math)/2), 2)
reading_above_70 = df[df["reading_score"] >= 70]
reading_passing =round(((reading_above_70["reading_score"].count())/(total_students)*100), 2)
math_above_70 = df[df["math_score"] >= 70]
math_passing = round(((math_above_70["math_score"].count())/(total_students)*100), 2)
data_for_district_summary = [{"Number of Unique Schools": total_schools, "Number of Students": total_students,\
                              "District Budget": total_budget, "Average Math Score": average_math,
                             "Average Reading Score": average_reading,"% Passing Math": math_passing,\
                             "% Passing Reading": reading_passing, "Overall Passing": overall_passing}]
pd.DataFrame(data_for_district_summary)

,Number of Unique Schools,Number of Students,District Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing
0,15,39170,$24649428,78.99,81.88,74.98,85.81,80.44

## School Summary

In [119]:
school_summary_df = pd.DataFrame(school_data).rename(columns= {"school_name": "School Name", "type":"School Type",\
                                           "size": "School Size", "budget": "School Budget"}).sort_values(by=["School Name"]).set_index("School Name")
per_student_budget = (school_summary_df["School Budget"])/(school_summary_df["School Size"])
school_summary_df["Per Student Budget"] = per_student_budget
schools_grouped_mean = df.groupby(["school_name"]).mean()
reading_average = pd.DataFrame(schools_grouped_mean["reading_score"])
school_summary_df["Reading Score Average"] = round(reading_average,2)
math_average = pd.DataFrame(schools_grouped_mean["math_score"])
school_summary_df["Math Score Average"] = round(math_average, 2)
df_renamed = df.rename(columns={"school_name": "School Name"})
df_school= df_renamed.set_index("School Name")
df_school_passing_reading = df_school[df_school["reading_score"] >= 70]
reading_grouped = df_school_passing_reading.groupby("School Name").count()
reading_grouped_isolated = pd.DataFrame(reading_grouped["reading_score"])
percent_pass_reading = (reading_grouped_isolated["reading_score"])/(school_summary_df["School Size"])*100
per_pass_read_df = pd.DataFrame(percent_pass_reading)
school_summary_df["Percent Passing Reading"] = round(per_pass_read_df, 2)
df_school_passing_math = df_school[df_school["math_score"] >= 70]
math_grouped = df_school_passing_math.groupby("School Name").count()
math_grouped_isolated = pd.DataFrame(math_grouped["math_score"])
percent_pass_math = (math_grouped_isolated["math_score"])/(school_summary_df["School Size"])*100
per_pass_math_df = pd.DataFrame(percent_pass_math)
school_summary_df["Percent Passing Math"] = round(per_pass_math_df, 2)
overall_passing = round(((school_summary_df["Percent Passing Reading"] + school_summary_df["Percent Passing Math"])/2), 2)
school_summary_df["Overall Passing"] = overall_passing
school_summary_df

,School ID,School Type,School Size,School Budget,Per Student Budget,Reading Score Average,Math Score Average,Percent Passing Reading,Percent Passing Math,Overall Passing
School Name,,,,,,,,,,
Bailey High School,7,District,4976,3124928,628.0,81.03,77.05,81.93,66.68,74.31
Cabrera High School,6,Charter,1858,1081356,582.0,83.98,83.06,97.04,94.13,95.58
Figueroa High School,1,District,2949,1884411,639.0,81.16,76.71,80.74,65.99,73.36
Ford High School,13,District,2739,1763916,644.0,80.75,77.10,79.30,68.31,73.81
Griffin High School,4,Charter,1468,917500,625.0,83.82,83.35,97.14,93.39,95.26
Hernandez High School,3,District,4635,3022020,652.0,80.93,77.29,80.86,66.75,73.81
Holden High School,8,Charter,427,248087,581.0,83.81,83.80,96.25,92.51,94.38
Huang High School,0,District,2917,1910635,655.0,81.18,76.63,81.32,65.68,73.50
Johnson High School,12,District,4761,3094650,650.0,80.97,77.07,81.22,66.06,73.64
Pena High School,9,Charter,962,585858,609.0,84.04,83.84,95.95,94.59,95.27
Rodriguez High School,11,District,3999,2547363,637.0,80.74,76.84,80.22,66.37,73.30
Shelton High School,2,Charter,1761,1056600,600.0,83.73,83.36,95.85,93.87,94.86
Thomas High School,14,Charter,1635,1043130,638.0,83.85,83.42,97.31,93.27,95.29
Wilson High School,5,Charter,2283,1319574,578.0,83.99,83.27,96.54,93.87,95.21
Wright High School,10,Charter,1800,1049400,583.0,83.96,83.68,96.61,93.33,94.97

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [6]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

## Scores by School Size

* Perform the same operations as above, based on school size.

In [7]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

## Scores by School Type

* Perform the same operations as above, based on school type.